config ech-workers 'main'
	option enabled '0'
	option listen_addr '0.0.0.0:20001'
	option server_addr ''
	option server_ip 'mfa.gov.ua'
	option token ''
	option dns_server 'dns.alidns.com/dns-query'
	option ech_domain 'cloudflare-ech.com'
	option routing_mode 'global'
	# routing_mode options: global, bypass_cn, none
